<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.aiw.auto.mapper.bbMapper">
	
	<!--表名 -->
	<sql id="tableName">
		b_bb
	</sql>
	
	
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiw.auto.entity.bb">
		insert into  <include refid="tableName"></include> 
		 (  
			`b`
   				,
  
			`c`
   				,
  
			`a`
   				
		 <include refid="com.aiw.mapper.Common.createEntityColumn"></include> ) 
		 values (
			#{b}
   				,
			#{c}
   				,
			#{a}
   				
		 <include refid="com.aiw.mapper.Common.createEntityColumnValue"></include>) 
	</insert>
	
	
	<update id="update" parameterType="com.aiw.auto.entity.bb" >
	    update  <include refid="tableName"></include> 
	    <set > 
	       lastUpdateTime = current_timestamp(),
	       lastUpdateUser = 'admin'
         		<if test="b != null">
			         , b = #{b}
			    </if> 
         		<if test="c != null">
			         , c = #{c}
			    </if> 
         		<if test="a != null">
			         , a = #{a}
			    </if> 
	    </set>
	    where id = #{id}
	 </update>
    
    
    <select id="select" resultType="com.aiw.auto.entity.bb">
        select * from 
        <include refid="tableName"></include>  
          <where> 
		    <if test="id != null">
		        id = #{id}  
		    </if> 
		  </where>
    </select>
    
    <select id="selectPage" resultType="com.aiw.auto.entity.bb">
        select * from 
        <include refid="tableName"></include> 
         <where> 
         		<if test="t.b != null">
			         b = #{t.b}
			    </if> 
         		<if test="t.c != null">
			         c = #{t.c}
			    </if> 
         		<if test="t.a != null">
			         a = #{t.a}
			    </if> 
		  </where>
        order by id desc
    </select>
    <delete id="delete">
    	delete from <include refid="tableName"></include> 
    	where id = #{id}  
    </delete>
    
</mapper>