<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.aiw.mapper.DDMapper">
	
	<!--表名 -->
	<sql id="tableName">
		base_dd
	</sql>
	
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiw.entity.DD">
		insert into  <include refid="tableName"></include> 
		 (`dg_code`,`dd_item`,`dd_value`,`dd_remark`<include refid="com.aiw.mapper.Common.createEntityColumn"></include>) 
		 values (#{dgCode},#{ddItem},#{ddValue} ,#{ddRemark}<include refid="com.aiw.mapper.Common.createEntityColumnValue"></include>) 
	</insert>
    
    <select id="selectPage" resultType="com.aiw.entity.DD">
        select a.*,b.dg_name from 
        <include refid="tableName"></include> as a
        left join base_dg as b on a.dg_code = b.dg_code
        
         <where> 
		    <if test="t.ddItem != null ">
		       and  (a.dd_item like concat('%',#{t.ddItem},'%') or  a.dg_code like concat('%',#{t.ddItem},'%'))
		    </if>
		    <if test="t.ddValue != null ">
		       and  a.dd_value like concat('%',#{t.ddValue},'%')
		    </if> 
		  </where>
        order by a.lastUpdateTime desc
    </select>
    
    <update id="update" parameterType="com.aiw.entity.DD" >
	    update  <include refid="tableName"></include> 
	    <set > 
	       lastUpdateTime = current_timestamp(),
	       lastUpdateUser = #{lastUpdateUser}
	      <if test="ddValue != null" >
	        ,dd_value = #{ddValue}
	      </if>
	      <if test="ddRemark != null" >
            ,dd_remark = #{ddRemark}
          </if>
	    </set>
	    where dd_item = #{ddItem} and dg_code = #{dgCode} 
	  </update>
    
    
    <select id="select" resultType="com.aiw.entity.DD">
        select * from 
        <include refid="tableName"></include>  
    </select>
    
    
    <select id="get" resultType="com.aiw.entity.DD">
        select * from 
        <include refid="tableName"></include>  
        where dd_item = #{ddItem} and dg_code = #{dgCode} 
    </select>
    
    <delete id="delete">
    	delete from <include refid="tableName"></include> 
    	where dd_item = #{ddItem} and dg_code = #{dgCode} 
    </delete>

    
</mapper>