<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.aiw.mapper.DGMapper">
	
	<!--表名 -->
	<sql id="tableName">
		base_dg
	</sql>
	
	<resultMap type="com.aiw.entity.DG" id="dg">
        <result column="dg_code" property="dgCode"/>
        <result column="dg_name" property="dgName"/>
        <!-- 关联订单详细 -->
        <collection property="list" ofType="com.aiw.entity.DD">
            <id column="dg_code" property="dgCode"/>
            <result column="dg_name" property="dgName"/>
         </collection>
    </resultMap>
    
	
	<select id="findDG" resultMap="dg">
        select b.*,a.* from base_dg a,base_dd b 
        where
        a.dg_code = b.dg_code
    </select>
	
	
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiw.entity.DG">
		insert into  <include refid="tableName"></include> 
		 (`dg_code`,`dg_name`,`dg_remark`<include refid="com.aiw.mapper.Common.createEntityColumn"></include>) 
		 values (#{dgCode},#{dgName} ,#{dgRemark} <include refid="com.aiw.mapper.Common.createEntityColumnValue"></include>) 
	</insert>
    
    <select id="selectPage" resultType="com.aiw.entity.DG">
        select * from 
        <include refid="tableName"></include> 
         <where> 
		    <if test="t.dgCode != null and t.dgCode.length()>0">
		         dg_code like concat('%',#{t.dgCode},'%')
		    </if> 
		  </where>
        order by lastUpdateTime desc
    </select>
    
    <update id="update" parameterType="com.aiw.entity.DG" >
	    update  <include refid="tableName"></include> 
	    <set > 
	       lastUpdateTime = current_timestamp(),
	       lastUpdateUser = #{lastUpdateUser}
	      <if test="dgName != null" >
	        ,dg_name = #{dgName}
	      </if>
	      <if test="dgRemark != null" >
            ,dg_remark = #{dgRemark}
          </if>
	    </set>
	    where dg_code = #{dgCode}
	  </update>
    
    
    <select id="select" resultType="com.aiw.entity.DG">
        select * from 
        <include refid="tableName"></include>  
        
    </select>
    
    <delete id="delete">
    	delete from <include refid="tableName"></include> 
    	where dg_code = #{dgCode}
    </delete>
    
    <select id="get" resultType="com.aiw.entity.DG">
        select * from 
        <include refid="tableName"></include>  
        where dg_code = #{dgCode}
    </select>
    
</mapper>