<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.aiw.mapper.RequestRecordMapper">  
  
    
    <!--表名 -->
	<sql id="tableName">
		base_request_record
	</sql>    
        
        
    <select id="selectPage"  resultType="com.aiw.entity.RequestRecord">  
            SELECT * from 
			<include refid="tableName"></include>   
			 order by id desc          
    </select>  
    
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiw.entity.RequestRecord">
    	insert into
    	<include refid="tableName"></include>    
        (requestURI,requestParameters <include refid="com.aiw.mapper.Common.createEntityColumn"></include>) 
    	values(#{requestURI},#{requestParameters}<include refid="com.aiw.mapper.Common.createEntityColumnValue"></include>)
    </insert>
    
    
       
</mapper>  