<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="com.aiw.bdzb.mapper.LabelMapper">
	
	<!--表名 -->
	<sql id="tableName">
		bdzb_label
	</sql>
	
	
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiw.bdzb.entity.Label">
		insert into  <include refid="tableName"></include> 
		 (  
			`type`
   				,
  
			`name`
   				
		 <include refid="com.aiw.mapper.Common.createEntityColumn"></include> ) 
		 values (
			#{type}
   				,
			#{name}
   				
		 <include refid="com.aiw.mapper.Common.createEntityColumnValue"></include>) 
	</insert>
	
	
	<update id="update" parameterType="com.aiw.bdzb.entity.Label" >
	    update  <include refid="tableName"></include> 
	    <set > 
	       lastUpdateTime = current_timestamp(),
	       lastUpdateUser = 'admin'
         		<if test="type != null">
			         , type = #{type}
			    </if> 
         		<if test="name != null">
			         , name = #{name}
			    </if> 
	    </set>
	    where id = #{id}
	 </update>
    
    <select id="get" resultType="com.aiw.bdzb.entity.Label">
        select * from 
        <include refid="tableName"></include>  
          <where> 
		    <if test="id != null">
		        id = #{id}  
		    </if> 
		  </where>
    </select>
    
    
    
    <select id="select" resultType="com.aiw.bdzb.entity.Label">
        select * from 
        <include refid="tableName"></include>  
          <where> 
		    <if test="id != null">
		        id = #{id}  
		    </if>
		    <if test="type != null">
			    type = #{type}
			</if> 
		  </where>
    </select>
    
    <select id="selectPage" resultType="com.aiw.bdzb.entity.Label">
        select * from 
        <include refid="tableName"></include> 
         <where> 
         		<if test="t.type != null">
			         type = #{t.type}
			    </if> 
         		<if test="t.name != null">
			         name = #{t.name}
			    </if> 
		  </where>
        order by id desc
    </select>
    <delete id="delete">
    	delete from <include refid="tableName"></include> 
    	where id = #{id}  
    </delete>
    
</mapper>